/* CSS Document */
html{height: 100%}
body{color:#fff;font-size:14px;width: 100%;background: url(../images/body_bg.jpg) repeat left top;}
.container{padding:0 20px;box-sizing:border-box;}
.header{height: 52px;line-height: 52px;position: relative;}
.head_time{width: 382px;color: #fff;font-size: 20px;}
.week{}
.head_set{width: 382px;text-align: right;}
.head_name{text-align: center;}
.setting,.signOut,.baoxiu,.repair,.maint_in,.mainTime{display: inline-block;background: url(../images/icon.png) no-repeat; }
.setting{background-position: 0 0;width:17px ;height:16px ;}
.setTime{display: none;border-radius: 5px;color:#fff;font-size: 12px;padding: 7px 10px;height: 20px;line-height: 20px;background: #444f5a;right: 0;top:26px;position: absolute;width: 240px;z-index: 3;}
.setTime input{background:#b0bbc7;width: 50px;border:1px solid #b0bbc7;border-radius: 5px;margin:0 8px;padding: 2px 0;height: 14px;line-height: 14px;display: inline-block;vertical-align: top; }
.setTime a{margin-left: 12px;color: #fff;}
.setTime input.emptyRed{border:1px solid red;}
.signOut{background-position: -26px 0;width:17px ;height:15px ;}
.Determine:hover{color: #c63282}
.content{}
.plate{border:2px solid #01f6fb;border-radius: 10px;padding:20px 30px;margin-bottom: 20px;}
.plate .title{font-size: 16px;background:#1a2333;font-weight: bold;color: #eb794c;position: absolute;right: 30px;bottom: -12px;padding: 0 10px;}
.con_lf{height:300px;width: 382px;position: absolute;left: 0;top:0;z-index: 1 }
.con_ce{padding: 0 402px;}
.con_rg{height:300px;width: 382px; position: absolute;right: 0;top:0;z-index: 1 }

.equip_ul li{width: 50%;text-align: center;}
.circleTxt{width: 85px;height: 75px;margin: 0 auto;line-height: 20px;padding: 40px 15px 0;border-radius: 50%;}
.circleTxt .inUse{position: absolute;left: 0;top: 0;width: 115px;height: 115px;opacity: 0;transform: scale(0.1) rotate(-270deg); transform-origin: 50% 50% 0;transition: all 0.4s ease-out 0s;}
.circleTxt .inRepair{position: absolute;left: 0;top: 0;width: 115px;height: 115px;opacity: 0;transform: scale(0.1) rotate(-270deg); transform-origin: 50% 50% 0;transition: all 0.4s ease-out 0s;}
.inUse{background: url(../images/circle01.png) no-repeat;}
.inRepair{;background: url(../images/circle02.png) no-repeat;}
.circleTxt span{opacity: 0;transform: scale(0.1);transition: all 0.4s ease-out 0.4s;}
.open.circleTxt .inUse,.open.circleTxt .inRepair{opacity: 1;transform: scale(1) rotate(0deg);}
.open.circleTxt span{opacity: 1;transform: scale(1);}

.depart_dt{line-height: 20px;}
.depart_dl{margin:10px 0 25px;}
.depart_dl dd{background:#17303e;background:rgba(1,246,251,0.25);margin:8px 0 0;height: 5px;border-radius: 5px;overflow: hidden;}
.depart_dl i{display: block;height: 5px;border-radius: 5px;background: #01f6fb;width: 0}

.statistics_p{width: 30%;text-align: center;height: 60px;} 
.statistics_month{width: 40%}

.maintRepaire{padding: 10px 30px;}
.maquee{height: 425px;overflow: hidden;}
.mainTable{}
.fixedThead{padding: 0 10px;margin-bottom: 7px;width: 86%;}
.fixedThead li{line-height: 37px;height: 37px;width: 14%;text-align: center;}
.fixedThead li.maintName,.scrollTbody div.maintName{width: 25%}
.scrollTbody li{width: 86%;margin-bottom: 17px;border-radius: 18px;padding: 0 10px;border:1px solid #17303e;position: relative;background:#17303e;background:rgba(1,246,251,0.07);text-align: center;}
.scrollTbody li:hover{border:1px solid #01f6fb;}
.scrollTbody a{color: #fff}
.scrollTbody a:hover{color: #01f6fb}
.scrollTbody div{width: 14%;line-height: 35px;height: 35px;overflow: hidden;}
.fixedThead li.last,.scrollTbody div.last{width: 19%;}
.maintName{overflow: hidden;}
.mainTime{position: absolute;right: -60px;top:8px;line-height: 24px;background-position: 0 -21px;width:50px ;height: 24px;}

.mainteTime{color: #c3c3c3;margin-bottom: 5px;}
.mainteList{margin: 0 0 10px}
.maint_con{border:1px solid #01f6fb;border-radius: 10px;padding:8px 12px;}
.maint_con h1{line-height: 36px;}
.mainteList span{width: 50%;float: left;}
.mainteList i{}
.maint_ul li{width: 50%;font-size: 12px;line-height: 30px;height: 30px;overflow: hidden;}
.maint_in{position: absolute;width: 16px;height: 17px;right: 30px;top:30px;}
.maint_up{background-position: -119px 0;}
.maint_down{background-position: -151px 0;}
.maint_eq{background-position: -135px 0;}
.baoxiu{background-position: -51px 0;width:15px ;height:15px ;}
.repair{background-position: -76px 0;width:17px ;height:17px ;}
